<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hawái - Hoteles</title>
</head>

<body class="contenedor">

    <!-- HEADER -->

    <header class="fondo saturate-150">
        <div class="text-white text-center md:flex md:justify-around md:rounded-none">
            <div class="flex justify-center">
                <a href="../index.html" class="md:mt-4">
                    <img class="w-28 drop p-2 md:p-0" src="../img/logo.webp" alt="logo hawai">
                </a>
            </div>
            <div>
                <nav
                    class="text-black text-2xl flex flex-col text-center gap-6 md:flex md:flex-row md:justify-center md:m-auto md:mt-10">
                    <a href="../index.html" class="hover:text-orange-400">
                        Home
                    </a>

                    <a href="./hoteles.html" class="hover:text-orange-400">
                        Hoteles
                    </a>

                    <a href="./playas.html" class="hover:text-orange-400">
                        Playas
                    </a>

                    <a href="./ocio.html" class="hover:text-orange-400">
                        Ocio
                    </a>

                    <a href="./nosotros.html" class="hover:text-orange-400">
                        Nosotros
                    </a>
                </nav>
            </div>
        </div>
        <div>
            <div
                class="text-black font-bold italic text-center mt-36 text-6xl md:absolute md:mt-16 md:text-8xl md:bottom-80 md:right-10">
                Hoteles en <span>HAWÁI</span>
            </div>
        </div>
    </header>

    <>

        <!-- HOTELES -->

        <div class="text-center my-16 text-2xl md:text-5xl">
            <h1>
                Los Mejores Hoteles de Hawái
            </h1>
        </div>
        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/halekulani hotel.webp" class="rounded-tr-full sombra-r" alt="imagen hotel halekulani">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Halekulani Hotel
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Descubre por qué tantos viajeros ven Halekulani Hotel como el hotel ideal cuando visitan Honolulu. Además de aportar la combinación ideal de calidad, comodidad y ubicación, ofrece un ambiente para familias con una amplia variedad de servicios diseñados para viajeros como tú.

                    Como está muy cerca de conocidos puntos de referencia, como Statue of Duke Kahanamoku (0,4 km) y Waikiki Beach Walk (0,5 km), los huéspedes de Halekulani Hotel pueden acceder con facilidad a algunas de las atracciones más conocidas de Honolulu.

                    Disfrutarás de agradables habitaciones que incluyen televisor de pantalla plana, minibar y frigorífico, y podrás estar conectado durante tu estancia, ya que Halekulani Hotel ofrece wifi gratuito a los huéspedes.

                    El hotel tiene conserje y servicio de habitaciones. Además, Halekulani ofrece piscina y bar junto a la piscina para poder relajarte tras un ajetreado día. Hay aparcamiento disponible para huéspedes con coche.

                    Mientras estás aquí, asegúrate de ir a restaurantes de marisco como Alan Wong's Restaurant, Michel's At the Colony Surf y Hula Grill Waikiki, que se encuentran cerca de Halekulani.

                    Si buscas algo que hacer, Diamond Head Lighthouse es una buena manera de pasar el tiempo

                    Para Halekulani Hotel tu comodidad y satisfacción son lo primero, y están deseando darte la bienvenida a Honolulu.
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/hilton.webp" class="rounded-tr-full sombra-r" alt="imagen hilton">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Hilton Garden
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    ¿Buscas donde alojarte en Honolulu? Entonces no te pierdas Hilton Garden Inn Waikiki Beach, un hotel para familias que te acerca a lo mejor de Honolulu.

                    Disfrutarás de agradables habitaciones que incluyen televisor de pantalla plana, frigorífico y aire acondicionado, y podrás estar conectado durante tu estancia, ya que Ohana Waikiki West ofrece internet gratuito a los huéspedes.
                    
                    El hotel tiene recepción abierta 24 horas, conserje y registro de entrada y salida exprés. Además, Ohana Waikiki West Hotel ofrece piscina y bar para poder relajarte tras un ajetreado día. Hay aparcamiento disponible para huéspedes con coche.
                    
                    Para aquellos interesados en visitar puntos de referencia conocidos durante su viaje a Honolulu, Ohana West Hotel se encuentra cerca de Statue of Duke Kahanamoku (0,4 km) y Waikiki Beach Walk (0,5 km).
                    
                    Mientras estés en Honolulu no dejes de probar demandados platos de langosta en Duke's Waikiki, House Without a Key o Chuck's Cellar.
                    
                    Si tienes tiempo, Iolani Palace, Shangri La y Queen Emma Summer Palace son lugares históricos populares a los que es relativamente fácil llegar.
                    
                    Estamos seguros de que disfrutarás de tu estancia en Hilton Garden Inn Waikiki Beach mientras descubres todo lo que Honolulu ofrece.
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/Hotel La Croix.webp" class="rounded-tr-full sombra-r" alt="imagen hotel la croix">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Hotel La Croix
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    La búsqueda del hotel para familias ideal en Honolulu no tiene por qué ser complicada. Bienvenido a Hotel La Croix, una fantástica opción para viajeros como tú.

                    Como está muy cerca de conocidos puntos de referencia, como Waikiki Beach Walk (0,4 km) y Statue of Duke Kahanamoku (0,6 km), los huéspedes de Waikiki Gateway pueden acceder con facilidad a algunas de las atracciones más conocidas de Honolulu.
                    
                    Se ofrece wifi gratuito a los huéspedes y las habitaciones de Waikiki Gateway incluyen televisor de pantalla plana, frigorífico y aire acondicionado.
                    
                    Durante la estancia, disfruta de algunos de los servicios que ofrecen, como recepción abierta 24 horas, registro de entrada 24 horas y espacio para guardar el equipaje. Los huéspedes de Waikiki Gateway Hotel también disponen de piscina exterior y desayuno allí mismo. Para viajeros con coche hay aparcamiento disponible.
                    
                    Mientras estés en Honolulu no dejes de probar demandados platos de cangrejo en House Without a Key, Alan Wong's Restaurant o Hula Grill Waikiki.
                    
                    Si tienes tiempo, Magic Island es una atracción conocida a la que puedes llegar andando.
                    
                    Hotel La Croix está deseando darte la bienvenida cuando visites Honolulu.
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/kaanapali-beach-hotel.webp" class="rounded-tr-full sombra-r" alt="imagen hotel kaanapali">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Ka'anapali Beach Hotel
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Ka'anapali Beach Hotel es una magnífica elección para los viajeros que visiten Lahaina, ya que ofrece un ambiente romántico, además de numerosos servicios diseñados para mejorar tu estancia.

                    Al estar cerca de los puntos de referencia más conocidos de Lahaina, como Lahaina Jodo Mission (4,7 km) y Calvary Chapel Westside (4,7 km), Ka'anapali Beach Hotel es un magnífico destino para turistas.
                    
                    Para que te sientas como en casa, las habitaciones en el hotel incluyen televisor de pantalla plana, frigorífico y aire acondicionado, y mantenerte conectado es fácil, ya que hay internet gratuito disponible.
                    
                    Los huéspedes tienen acceso a conserje durante su estancia en Ka'anapali Beach Hotel. Además, Kaanapali Beach Hotel ofrece piscina y desayuno, lo que hará tu viaje a Lahaina incluso más gratificante. Y otra ventaja es que hay aparcamiento disponible para los huéspedes.
                    
                    Los viajeros que quieran fish & chips pueden acudir a Leilani's On The Beach, Honu Seafood and Pizza o Aloha Mixed Plate. Si no, puedes dirigirte a un pub como Monkeypod, Beach Bar o Tiki Bar & Grill.
                    
                    Lahaina también se conoce por sus parques, como Launiupoko Beach Park, Ukumehame Beach Park y PoHaku Park, que no se encuentran muy lejos de Kaanapali Beach Hotel.
                    
                    ¡Disfruta de tu estancia en Lahaina!
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/koloa-landing-at-poipu.webp" class="rounded-tr-full sombra-r" alt="imagen hotel koloa">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center p-3 text-4xl md:mt-2">
                    Koloa Landing Resort at Poipu, Autograph Collection
                </h2>
                <p class="text-xl mt-4 leading-8 md:py-1 md:px-8">
                    Todo el mundo necesita un sitio donde reposar cuando está cansado. Para aquellos que visiten Poipu, Koloa Landing Resort at Poipu, Autograph Collection es una magnífica elección para descansar. Conocido por su ambiente de lujo y su proximidad a fantásticos restaurantes y atracciones, Koloa Landing Resort at Poipu, Autograph Collection te ayuda a disfrutar de lo mejor de Poipu.

                    Las habitaciones de Koloa Landing Resort at Poipu, Autograph Collection incluyen televisor de pantalla plana, cocinita y frigorífico para una comodidad mucho mayor, y los huéspedes pueden permanecer conectados con wifi gratuito.
                    
                    Conserje es uno de los servicios que ofrece el hotel. Su piscina y bar también contribuirán a que tu estancia sea incluso más especial. Si vas en coche a Koloa Landing At Poipu Beach Hotel, hay parking gratis disponible.
                    
                    Durante tu visita, no dejes de ir a uno de los restaurantes de surf and turf (mar y tierra) conocidos de Poipu como Keoki's Paradise y Tidepools, que se encuentran cerca de Koloa Landing At Poipu Beach Hotel.
                    
                    ¿Tienes ganas de ver cosas? Entonces no te pierdas Poipu Beach Park (0,6 km), una atracción popular de Poipu a la que puedes llegar fácilmente andando desde el hotel.
                    
                    Ya viajes por negocios, placer o ambos al mismo tiempo, Koloa Landing Resort at Poipu, Autograph Collection hará inolvidable tu visita a Poipu.
                </p>
            </div>
        </div>
        
        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/outrigger-reef-waikiki.webp" class="rounded-tr-full sombra-r" alt="imagen hotel outrigger reef waikiki">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Outrigger Reef Waikiki Beach Resort
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Descubre por qué tantos viajeros ven Outrigger Reef Waikiki Beach Resort como el hotel ideal cuando visitan Honolulu. Además de aportar la combinación ideal de calidad, comodidad y ubicación, ofrece un ambiente para familias con una amplia variedad de servicios diseñados para viajeros como tú.

                    Disfrutarás de agradables habitaciones que incluyen televisor de pantalla plana, y podrás estar conectado durante tu estancia, ya que Outrigger Reef ofrece wifi gratuito a los huéspedes.
                    
                    El hotel tiene conserje, servicio de habitaciones y tiendas. Además, Outrigger Honolulu ofrece piscina y desayuno para poder relajarte tras un ajetreado día. Hay aparcamiento disponible para huéspedes con coche.
                    
                    Al estar cerca de los puntos de referencia más conocidos de Honolulu, como Statue of Duke Kahanamoku (0,5 km) y Waikiki Beach Walk (0,5 km), Hotel Outrigger Reef On The Beach es un magnífico destino para turistas.
                    
                    Mientras estés en Honolulu no dejes de probar demandados platos de cangrejo en House Without a Key, Alan Wong's Restaurant o Hula Grill Waikiki.
                    
                    Si tienes tiempo, Magic Island, Ala Moana Beach Park y Tantalus Lookout Puu Ualakaa State Park son parques populares a los que es relativamente fácil llegar.
                    
                    Estamos seguros de que disfrutarás de tu estancia en Outrigger Reef Waikiki Beach Resort mientras descubres todo lo que Honolulu tiene para ofrecer.
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/outrigger-waikiki-beach.webp" class="rounded-tr-full sombra-r" alt="imagen hotel outrigger waikiki beach">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Outrigger Waikiki Beach Resort
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Todo el mundo necesita un sitio donde reposar cuando está cansado. Para aquellos que visiten Honolulu, Outrigger Waikiki Beach Resort es una magnífica elección para descansar. Conocido por su ambiente para familias y su proximidad a fantásticos restaurantes, Outrigger Waikiki Beach Resort te ayuda a disfrutar de lo mejor de Honolulu.

                    Hotel Outrigger Waikiki On The Beach es un hotel para familias con televisor de pantalla plana en las habitaciones, y es fácil permanecer conectado durante la estancia, ya que ofrece wifi gratuito para los huéspedes.
                    
                    El hotel tiene conserje y servicio de habitaciones. Además, los huéspedes pueden disfrutar de piscina y desayuno, lo que lo ha convertido en una opción popular entre los viajeros que visitan Honolulu. Para los huéspedes que tengan coche, hay aparcamiento disponible.
                    
                    Los puntos de referencia de los alrededores, como Statue of Duke Kahanamoku (0,2 km) y Waikiki Beach Walk (0,4 km) hacen de Outrigger Waikiki un magnífico sitio donde alojarse durante un viaje a Honolulu.
                    
                    Mientras estás aquí, asegúrate de ir a restaurantes de sushi como Roy's Waikiki Beach, Benihana y Nobu Honolulu, que se encuentran cerca de Outrigger Waikiki Beach.
                    
                    Si te interesa explorar Honolulu, visita museos de historia como Iolani Palace, Aloha Pearl Harbor Tours y Queen Emma Summer Palace.
                    
                    Ya viajes por negocios, placer o ambos al mismo tiempo, Outrigger Waikiki Beach Resort hará inolvidable tu visita a Honolulu.
                </p>
            </div>
        </div>
 
        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/prince-waikiki.webp" class="rounded-tr-full sombra-r" alt="imagen hotel prince waikiki">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Prince Waikiki
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Prince Waikiki es una magnífica elección para viajeros que vayan a Honolulu, ya que ofrece un ambiente para familias además de numerosos servicios diseñados para mejorar su estancia.

                    Disfrutarás de agradables habitaciones que incluyen televisor de pantalla plana, frigorífico y aire acondicionado, y podrás estar conectado durante tu estancia, ya que Honolulu Prince Hotel ofrece wifi gratuito a los huéspedes.
                    
                    El hotel tiene conserje y servicio de habitaciones. Además, Hawaii Prince Hotel ofrece piscina exterior y desayuno para poder relajarte tras un ajetreado día.
                    
                    Como está muy cerca de conocidos puntos de referencia, como Waikiki Beach Walk (1,3 km) y Saint Augustine by-the-Sea (2,2 km), los huéspedes de Hawaii Prince Hotel Waikiki pueden acceder con facilidad a algunas de las atracciones más conocidas de Honolulu.
                    
                    Mientras estés en Honolulu no dejes de probar demandados platos de fish & chips en Hula Grill Waikiki, Red Lobster o Wolfgang's Steakhouse.
                    
                    Si tienes tiempo, Magic Island es una atracción conocida a la que puedes llegar andando.
                    
                    ¡Disfruta de tu estancia en Honolulu!
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/royal-kona-resort-at.webp" class="rounded-tr-full sombra-r" alt="imagen hotel royal kona">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Royal Kona Resort
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Todo necesitamos un sitio donde reposar cuando está cansado. Para aquellos que visiten Kailua-Kona, Royal Kona Resort es una magnífica elección para descansar. Conocido por su ambiente para familias y su proximidad a fantásticos restaurantes, Royal Kona Resort te ayuda a disfrutar de lo mejor de Kailua-Kona.

                    Royal Kona es un complejo turístico para familias con tv, frigorífico y aire acondicionado en las habitaciones, tambien ofrece internet para los huéspedes.
                    
                    El complejo turístico tiene recepción abierta 24 hs, conserje y tienda de regalos. Además, los huéspedes pueden disfrutar de piscina y desayuno, lo que lo ha convertido en una opción popular entre los viajeros que visitan Kailua-Kona. Para los huéspedes que tengan coche, hay garage disponible.
                    
                    Como está cerca de la mayoría de los puntos de referencia de Kailua-Kona, como St. Michael the Archangel Church (0,6 km) y Ali'i Drive (0,6 km), Royal Kona es un fantástico destino para turistas.
                    
                    Los que quieran cangrejo pueden acudir a Kona Brewing Company Pub & Brewery, Umekes Fishmarket Bar & Grill o Jackie Rey's Ohana Grill. Si no, puedes dirigirte a un restaurante de comida mexicana como Killer Tacos Incorporated, El Mercadito Rincon Mexicano o Loko Wraps.
                    
                    No faltan cosas que hacer por la zona: explora populares jardines como Sadie Seymour Botanical Gardens.
                    
                    Royal Kona Resort hará inolvidable tu visita a Kailua-Kona.
                </p>
            </div>
        </div>

        <div class="mx-4 my-10 bg-slate-100 rounded-lg shadow-lg md:grid md:grid-cols-3 md:mx-0 md:my-0 md:p-0 md:mb-8">
            <div class="md:col-span-1">
                <img src="../img/waikiki-beachcomber-outrigger.webp" class="rounded-tr-full sombra-r" alt=" imagen hotel waikiki beachcomber outrigger">
            </div>
            <div class="md:col-span-2">
                <h2 class="text-center text-4xl md:mt-2">
                    Waikiki Beachcomber by Outrigger
                </h2>
                <p class="text-xl p-3 mt-4 leading-8 md:py-1 md:px-8">
                    Waikiki Beachcomber by Outrigger es una magnífica elección para viajeros que vayan a Honolulu, ya que ofrece un ambiente para familias además de numerosos servicios diseñados para mejorar su estancia.

                    Disfrutarás de agradables habitaciones que incluyen televisor de pantalla plana, aire acondicionado y frigorífico, y podrás estar conectado durante tu estancia, ya que Holiday Inn Waikiki Beachcomber Hotel ofrece wifi gratuito a los huéspedes.
                    
                    El hotel tiene recepción abierta 24 horas, conserje y espacio para guardar el equipaje. Además, Holiday Inn Waikiki Beachcomber Hotel ofrece piscina y desayuno para poder relajarte tras un ajetreado día. Hay aparcamiento disponible para huéspedes con coche.
                    
                    Los puntos de referencia que hay por los alrededores, como Statue of Duke Kahanamoku (0,1 km) y Waikiki Beach Walk (0,3 km) hacen de Ohana Waikiki Beachcomber Hotel un magnífico sitio donde alojarse en Honolulu.
                    
                    Si te gustan los restaurantes de comida francesa, Holiday Inn Waikiki Beachcomber Hotel se encuentra cerca de Michel's At the Colony Surf, La Mer y Chef Mavro.
                    
                    No faltan cosas que hacer por la zona: explora populares cascadas como Manoa Falls, Lulumahu Waterfall y Likeke Falls.
                    
                    ¡Disfruta de tu estancia en Honolulu!
                </p>
            </div>
        </div>

            <!-- CUPON -->

    <div class="bg-cyan-600 mb-16 mt-16 md:h-60">
        <div class="grid grid-cols-2">
            <div class="">
                <h2 class="mt-2 text-3xl md:text-6xl text-white text-center titulo">
                    30% de Descuento
                </h2>
                <h2 class="text-center text-2xl">
                    En Bares
                </h2>
                <img src="../img/qr cupon.png" class="w-28 drop m-auto p-2 md:p-0 md:mt-3" alt="imagen codigo QR">
            </div>
            <div class="md:m-5">
                <h2 class="text-2xl text-end mt-8 md:mt-24 p-2">
                    Obtene el descuento con el código <span class="text-white font-semibold">HAWAI23</span>
                </h2>
                <h2 class="text-end p-2 md:text-xl">
                    Tope máximo USD 100
                </h2>
            </div>
        </div>
    </div>
        
    </main>

    <!-- FOOTER -->

    <footer class="fondoFooter md:flex md:justify-between">
        <div class="md:ml-14 md:mt-5">
            <nav class="text-black text-2xl flex flex-col text-center gap-4 p-5">
                <a href="../index.html" class="hover:text-lime-500">
                    Home
                </a>

                <a href="./hoteles.html" class="hover:text-lime-500">
                    Hoteles
                </a>

                <a href="./playas.html" class="hover:text-lime-500">
                    Playas
                </a>

                <a href="./ocio.html" class="hover:text-lime-500">
                    Ocio
                </a>

                <a href="./nosotros.html" class="hover:text-lime-500">
                    Nosotros
                </a>
            </nav>
        </div>
        <div class="text-lg text-center text-white">
            <div class="md:mt-5 md:mr-14">
                <div class="mb-6">
                    <h3 class="text-4xl md:text-5xl md:mb-2 md:justify-center">
                        Contacto
                    </h3>
                    <p>
                        <i class="fa-regular fa-envelope"></i> consultas@hawai.com
                    </p>
                </div>
                <div class="text-3xl mb-6 flex md:text-5xl justify-center gap-6">
                    <div>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/?lang=es" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="drop fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="text-2xl m-auto">
                        Hawái - 2023
                    </h3>
                    <h3 class="text-2xl m-auto py-1">
                        ©Copiright
                    </h3>
                </div>
            </div>
        </div>
    </footer>

    <div class="arriba-contenedor">
        <div class="boton-hacia-arriba">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    <script src="../app.js"></script>

</body>

</html>