<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hawái - Nosotros</title>
</head>

<body class="contenedor">

    <!-- HEADER -->
    
    <header class="fondo saturate-150">
        <div class="text-white text-center md:flex md:justify-around md:rounded-none">
            <div class="flex justify-center">
                <a href="../index.html" class="md:mt-4">
                    <img class="w-28 drop p-2 md:p-0" src="../img/logo.webp" alt="imagen logo hawai">
                </a>
            </div>
            <div>
                <nav
                    class="text-black text-2xl flex flex-col text-center gap-6 md:flex md:flex-row md:justify-center md:m-auto md:mt-10">
                    <a href="../index.html" class="hover:text-orange-400">
                        Home
                    </a>

                    <a href="./hoteles.html" class="hover:text-orange-400">
                        Hoteles
                    </a>

                    <a href="./playas.html" class="hover:text-orange-400">
                        Playas
                    </a>

                    <a href="./ocio.html" class="hover:text-orange-400">
                        Ocio
                    </a>

                    <a href="./nosotros.html" class="hover:text-orange-400">
                        Nosotros
                    </a>
                </nav>
            </div>
        </div>
        <div>
            <div
                class="text-black font-bold italic text-center mt-36 text-6xl md:absolute md:mt-16 md:text-8xl md:bottom-80 md:right-10">
                Sobre <span>HAWÁI</span>
            </div>
        </div>
    </header>

    <main>
        <div class="text-center px-10 mt-12 md:px-32">
            <h1 class="text-2xl mb-5">Sobre Nosotros</h1>
            <p class="text-xl mb-10">
                Hawái, un estado de los EE.UU., es un archipiélago volcánico aislado en el Pacífico central. Sus islas son famosas por sus paisajes escabrosos de riscos, cascadas, follaje tropical y playas con arenas doradas, rojas, negras e incluso verdes. De las 6 islas principales, Oahu tiene la capital y la ciudad más grande de Hawái, Honolulu, donde se encuentra la playa de media luna Waikiki y los memoriales de la Segunda Guerra Mundial en Pearl Harbor.
            </p>
        </div>
        <div class="rounded-lg shadow-xl bg-slate-100 m-3 md:m-12 md:grid md:grid-cols-2">
            <div class="md:p-48 md:m-auto">
                <img src="../img/Hawaii.webp" class="rounded-lg" alt="imagen satelital de hawaii">
            </div>
            <div class="p-4 md:m-auto">
                <h2 class="text-2xl mb-6 mt-8 md:text-4xl md:mb-10">Datos Sobre Hawái</h2>
                <div>
                    <ul>
                        <li class="text-xl md:mb-6 md:text-2xl">Capital: Honolulu</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Flor estatal: Hibiscus brackenridge</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Población: 1,455,270 millones (2020)</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Superficie: 28.311 km²</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Coordenadas: 21°18'27"N 157°51'27"O / 21.3075, -157.8575</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Fundación Admisión: 21 de agosto de 1959</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Gentilicio: Hawaiano, -a</li>
                        <li class="text-xl md:mb-6 md:text-2xl">Idioma Oficial: Ingles y Hawaiano</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-10 m-3 rounded-lg shadow-xl bg-slate-100 md:m-12 md:grid md:grid-cols-2 md:mb-16">
            <div class="mb-10 p-5">
                <h2 class="text-center text-2xl mb-5">
                    Bandera
                </h2>
                <img src="../img/bandera.webp" class="m-auto" alt="imagen bandera hawai">
            </div>
            <div class="mb-10 p-5">
                <h2 class="text-center text-2xl mb-5">
                    Escudo
                </h2>
                <img src="../img/escudo.png" class="m-auto" alt="imagen escudo hawai">
            </div>
        </div>
    </main>

    <!-- FOOTER -->

    <footer class="fondoFooter md:flex md:justify-between">
        <div class="md:ml-14 md:mt-5">
            <nav class="text-black text-2xl flex flex-col text-center gap-4 p-5">
                <a href="../index.html" class="hover:text-lime-500">
                    Home
                </a>

                <a href="./hoteles.html" class="hover:text-lime-500">
                    Hoteles
                </a>

                <a href="./playas.html" class="hover:text-lime-500">
                    Playas
                </a>

                <a href="./ocio.html" class="hover:text-lime-500">
                    Ocio
                </a>

                <a href="./nosotros.html" class="hover:text-lime-500">
                    Nosotros
                </a>
            </nav>
        </div>
        <div class="text-lg text-center text-white">
            <div class="md:mt-5 md:mr-14">
                <div class="mb-6">
                    <h3 class="text-4xl md:text-5xl md:mb-2 md:justify-center">
                        Contacto
                    </h3>
                    <p>
                        <i class="fa-regular fa-envelope"></i> consultas@hawai.com
                    </p>
                </div>
                <div class="text-3xl mb-6 flex md:text-5xl justify-center gap-6">
                    <div>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/?lang=es" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="drop fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="text-2xl m-auto">
                        Hawái - 2023
                    </h3>
                    <h3 class="text-2xl m-auto py-1">
                        ©Copiright
                    </h3>
                </div>
            </div>
        </div>
    </footer>

    <div class="arriba-contenedor">
        <div class="boton-hacia-arriba">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
<script src="../app.js"></script>
</body>

</html>