<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hawái - Ocio</title>
</head>
<body class="contenedor">

    <!-- HEADER -->
    
    <header class="fondo saturate-150">
        <div class="text-white text-center md:flex md:justify-around md:rounded-none">
            <div class="flex justify-center">
                <a href="../index.html" class="md:mt-4">
                    <img class="w-28 drop p-2 md:p-0" src="../img/logo.webp" alt="imagen logo hawai">
                </a>
            </div>
            <div>
                <nav
                    class="text-black text-2xl flex flex-col text-center gap-6 md:flex md:flex-row md:justify-center md:m-auto md:mt-10">
                    <a href="../index.html" class="hover:text-orange-400">
                        Home
                    </a>

                    <a href="./hoteles.html" class="hover:text-orange-400">
                        Hoteles
                    </a>

                    <a href="./playas.html" class="hover:text-orange-400">
                        Playas
                    </a>

                    <a href="./ocio.html" class="hover:text-orange-400">
                        Ocio
                    </a>

                    <a href="./nosotros.html" class="hover:text-orange-400">
                        Nosotros
                    </a>
                </nav>
            </div>
        </div>
        <div>
            <div
                class="text-black font-bold italic text-center mt-36 text-6xl md:absolute md:mt-16 md:text-8xl md:bottom-80 md:right-10">
                Ocio en <span>HAWÁI</span>
            </div>
        </div>
    </header>
    
        <!-- OCIO -->
    
        <div class="text-center md:flex md:items-center md:flex-col md:m-auto">
            <div>
                <h2 class="italic p-20 text-black text-4xl md:mt-36 md:text-5xl  md:mb-10 md:py-0">
                    Divercion y Relax en Hawái
                </h2>
            </div>
        </div>
        <div class="fondoPreparar mb-10 md:py-0 md:grid md:grid-cols-3 w-auto">
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <a href="">
                    <img src="../img/breakout waikiki.webp" class="rounded-xl" alt="imagen breakout waikiki">
                    <p class="md:text-xl text-lg p-2 mt-2">
                        Una de las mejores escape room de waikiki. cuentan con 5 habitaciones que van de 2 a 8 jugadores, SECRET SABOTAGE, PATIENT 57, Y2K, ARMORY AMBUSH y THE HERO. Su ubicación es Waikiki Beach Walk en Lewers street.
                    </p>
                </a>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/museo.webp" class="rounded-xl" alt="imagen museo ejercito de hawai">
                <p class="md:text-xl text-lg p-2 mt-2">
                    El Museo del Ejército de EE. UU. de Hawái se encuentra dentro de Battery Randolph, una antigua batería de artillería costera, ubicada en la Reserva Militar Fort DeRussy. La batería se transformó en un museo en 1976.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/honolulu cookie company.webp" class="rounded-xl" alt="imagen honolulu cookie company">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Honolulu Cookie Company tiene una línea de sabores inspirados en la isla en forma de piña. La receta se ha refinado a lo largo de los años, pero siempre mantenemos esa dedicación a los ingredientes de calidad inspirados en los sabores de nuestra isla natal.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/international market place.webp" class="rounded-xl" alt="imagen international market place">
                <p class="md:text-xl text-lg p-2 mt-2">
                    centro comercial al aire libre ubicado en Waikīkī en la isla de O'ahu. Abrió por primera vez en 1956 como un centro comercial, minorista y de entretenimiento. Después de cerrar para una renovación completa en 2013, International Market Place reabrió el 25 de agosto de 2016.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/mai tai bar.webp" class="rounded-xl" alt="imagen mai tai">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Bar frente a la playa del Royal Hawaiian, festivo y elegante, con cocteles de sombrilla, entradas y música.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/maui-escape-rooms.webp" class="rounded-xl" alt="imagen maui escape room">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Mui escape room, cuenta con 5 habitaciones de escape que van de 2 a 10 jugadores dependiendo la habitacion, SAVING SHERLOCK, TESLA'S SECRET, PRISON BREAK, KA PUKA BUNKER y PIRATE SHIP. Esta ubicado en 2435 Kaanapali Pkwy, Lahaina.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/Pearl Harbor Memorial Aerial.webp" class="rounded-xl" alt="imagen pearl harbor memorial">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Este sitio, que es un Monumento Histórico Nacional, consta de cinco monumentos que conmemoran los eventos durante la Segunda Guerra Mundial y el ataque a Pearl Harbor en 1941.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/the spa a black rock.webp" class="rounded-xl" alt="imagen the spa a black rock">
                <p class="md:text-xl text-lg p-2 mt-2">
                    The Spa at Black Rock ofrece un ambiente relajante y una colección inspirada de servicios de spa de día que incluyen tratamientos corporales, cuidado de la piel y masajes. Consulte nuestro sitio web o descargue nuestro folleto para obtener información detallada sobre los tratamientos exclusivos que ofrecemos.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/tranvia waikiki.webp" class="rounded-xl" alt="imagen tranvia waikiki">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Explore la mayor cantidad de Oahu que desee en un recorrido en autobús o tranvía de 1, 4 o 7 días con paradas libres. Elija entre múltiples líneas completas de recorridos, o selecciónelas todas. No se preocupe por el estrés de conducir, navegar o trasladarse de un lugar a otro con una guía de conductor para hacer el trabajo por usted y compartir las percepciones y la historia locales.
                </p>
            </div>
    
            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/wailele-luau-2.webp" class="rounded-xl" alt="imagen wailele luau">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Wailele Luau, al aire libre en medio de un pintoresco jardín junto a la playa de Kaanapali, este intrigante espectáculo luau y cena con espectáculo se lleva a cabo en The Westin Maui Resort & Spa y presenta historias del semidiós Maui, el antiguo kahiko hawaiano con trajes tradicionales y ropa hawaiana. awana con un espectro más grandioso, que conduce al ﬁnal de baile con cuchillo de fuego más extremo de la isla.
                </p>
            </div>

            <div class="m-5 rounded-xl shadow-xl p-3">
                <img src="../img/beach walk.webp" class="rounded-xl" alt="imagen beach walk">
                <p class="md:text-xl text-lg p-2 mt-2">
                    Centro comercial de 2 plantas al aire libre con boutiques y restaurantes, además de yoga, hula y conciertos semanales. Su ubicación es 227 Lewers St, Honolulu.
                </p>
            </div>
        </div>

                <!-- FOOTER -->

                <footer class="fondoFooter md:flex md:justify-between">
                    <div class="md:ml-14 md:mt-5">
                        <nav class="text-black text-2xl flex flex-col text-center gap-4 p-5">
                            <a href="../index.html" class="hover:text-lime-500">
                                Home
                            </a>
            
                            <a href="./hoteles.html" class="hover:text-lime-500">
                                Hoteles
                            </a>
            
                            <a href="./playas.html" class="hover:text-lime-500">
                                Playas
                            </a>
            
                            <a href="./ocio.html" class="hover:text-lime-500">
                                Ocio
                            </a>
            
                            <a href="./nosotros.html" class="hover:text-lime-500">
                                Nosotros
                            </a>
                        </nav>
                    </div>
                    <div class="text-lg text-center text-white">
                        <div class="md:mt-5 md:mr-14">
                            <div class="mb-6">
                                <h3 class="text-4xl md:text-5xl md:mb-2 md:justify-center">
                                    Contacto
                                </h3>
                                <p>
                                    <i class="fa-regular fa-envelope"></i> consultas@hawai.com
                                </p>
                            </div>
                            <div class="text-3xl mb-6 flex md:text-5xl justify-center gap-6">
                                <div>
                                    <a href="https://es-la.facebook.com/" target="_blank">
                                        <i class="fa-brands fa-square-facebook"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="https://twitter.com/?lang=es" target="_blank">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="drop fa-brands fa-square-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <h3 class="text-2xl m-auto">
                                    Hawái - 2023
                                </h3>
                                <h3 class="text-2xl m-auto py-1">
                                    ©Copiright
                                </h3>
                            </div>
                        </div>
                    </div>
                </footer>

        <div class="arriba-contenedor">
            <div class="boton-hacia-arriba">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
    <script src="../app.js"></script>
</body>
</html>