<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hawái - Playas</title>
</head>
<body class="contenedor">

    <!-- HEADER -->

    <header class="fondo saturate-150">
        <div class="text-white text-center md:flex md:justify-around md:rounded-none">
            <div class="flex justify-center">
                <a href="../index.html" class="md:mt-4">
                    <img class="w-28 drop p-2 md:p-0" src="../img/logo.webp" alt="imagen logo hawai">
                </a>
            </div>
            <div>
                <nav
                    class="text-black text-2xl flex flex-col text-center gap-6 md:flex md:flex-row md:justify-center md:m-auto md:mt-10">
                    <a href="../index.html" class="hover:text-orange-400">
                        Home
                    </a>

                    <a href="./hoteles.html" class="hover:text-orange-400">
                        Hoteles
                    </a>

                    <a href="./playas.html" class="hover:text-orange-400">
                        Playas
                    </a>

                    <a href="./ocio.html" class="hover:text-orange-400">
                        Ocio
                    </a>

                    <a href="./nosotros.html" class="hover:text-orange-400">
                        Nosotros
                    </a>
                </nav>
            </div>
        </div>
        <div>
            <div
                class="text-black font-bold italic text-center mt-36 text-6xl md:absolute md:mt-16 md:text-8xl md:bottom-80 md:right-10">
                Playas de <span>HAWÁI</span>
            </div>
        </div>
    </header>

    <main>
        <div class="mt-5 md:mt-16">
            <h1 class="text-center text-2xl md:text-5xl">
                Conoce un poco sobre nuestras playas.
            </h1>
        </div>
        <section class="fondo2 grid grid-cols-1 md:grid-cols-3 md:mt-16 md:mb-20">
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/anini.webp" class="rounded-lg" alt="imagen playa anini">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Anini
                </h3>
                <p class="p-4 md:text-lg">
                    Aunque no hay socorristas en la zona, la hermosa playa de Anini está considerada como una de las más seguras de Hawái, especialmente en los meses de verano. Al estar equipada con un inmenso arrecife de coral, la zona está protegida de las fuertes corrientes oceánicas y ofrece un hermoso rincón de paraíso donde las aguas cristalinas invitan a bucear. Ven aquí a poner tu toalla en la arena blanca y disfruta de largas caminatas, snorkel, picnics o, con el viento adecuado, del windsurf. Anini también es famosa por ser un popular lugar de acampada.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/hanauma.webp" class="rounded-lg" alt="imagen playa hanauma">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Hanauma
                </h3>
                <p class="p-4 md:text-lg">
                    En 1967, la Bahía de Hanauma se transformó en una reserva natural para la conservación de la vida submarina. Su nombre significa "bahía curva", y fue una vez la cuna de un cráter volcánico que ya no existe. Hoy en día, Hanauma es un parque submarino al que acuden miles de turistas cada año para hacer snorkel rodeados de la rica flora y fauna local. Los nadadores pueden sumergirse en el agua y admirar más de 400 especies de peces hawaianos, como el pez humuhumunukunukuapua'a (¡hace falta un poco de práctica para pronunciarlo correctamente!) y las tortugas marinas. Durante los períodos de luna llena es posible que la bahía esté llena de medusas, así que es una buena idea evitar bucear durante estos períodos.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/honolulu.webp" class="rounded-lg" alt="imagen playa honolulu">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Honolulu
                </h3>
                <p class="p-4 md:text-lg">
                    La capital de Hawái, Honolulu, ofrece a los turistas un espectacular centro de vida donde pueden sentarse al sol y darse un chapuzón en el Océano Pacífico. Honolulu está situado en la isla de Oahu, y a menos de 30 minutos del centro los turistas pueden disfrutar de la fabulosa vida playera del archipiélago. Deja tu toalla en una de las muchas playas locales, como Kailua, Magic Island, Waialae Beach, Kahanamoku Beach, Hanauma Bay, Ko Olina, Sans Souci Beach o Pu'uloa. ¡Aguas maravillosas, gran surf y mucho, mucho, mucho sol!
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/kaanapali.webp" class="rounded-lg" alt="imagen playa kaanapali">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Kaanapali
                </h3>
                <p class="p-4 md:text-lg">
                    Con más de 3 kilómetros de costa virgen, Ka'anapali es una de las playas más populares de la historia. En un tiempo, también fue la playa más querida de América. Ahora la situación es un poco diferente, aunque Ka'anapali es y sigue siendo un punto de referencia para los viajes de lujo y todos los turistas que buscan comodidad durante sus días en la playa.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/kailua.webp" class="rounded-lg" alt="imagen playa kailua">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Kailua
                </h3>
                <p class="p-4 md:text-lg">
                    Entre las playas más bellas y características de Hawái hay que recordar también la Kailua Beach Park, uno de los parques más bellos y grandes de Oahu. Además de contar con una espectacular playa de aguas cristalinas, Kailua ofrece un hermoso parque con mesas de picnic, canchas de voleibol de playa, áreas de barbacoa, duchas, baños, árboles, socorristas y muchas oportunidades para practicar deportes acuáticos: puedes hacer surf, kayak, kitesurf y paddle surf. El sol es maravilloso y las aguas tranquilas te invitan a sumergirte.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/kauai.webp" class="rounded-lg" alt="imagen playa kauai">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Kauai
                </h3>
                <p class="p-4 md:text-lg">
                    También conocida como Kauai, esta isla es probablemente la más antigua de todo el archipiélago. Todos la conocen también como la isla jardín, con hermosas montañas y una vegetación extraordinaria. Con su fascinante historia geológica, Kauai es el destino perfecto para cualquiera que quiera ver Hawái y saborear sus orígenes.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/makalawena.webp" class="rounded-lg" alt="imagen playa makalawena">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Makalawena
                </h3>
                <p class="p-4 md:text-lg">
                    La playa más difícil de alcanzar pero tal vez la más hermosa de Hawái es la playa de Makalawena. Aunque no es accesible por carretera, Makalawena vale la pena: una playa muy blanca, un océano transparente y acogedor, sobre todo, poca gente, una peculiaridad realmente irresistible en el conjunto que se puede encontrar en Hawaii.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/makena.webp" class="rounded-lg" alt="imagen playa makena">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Makena
                </h3>
                <p class="p-4 md:text-lg">
                    Un paisaje impresionante, un mar azul y una playa dorada donde no puedes esperar a poner la toalla. Bienvenidos a la playa de Makena en la isla de Maui. Los lugareños la consideran la "gran playa" y, de hecho, es la más grande de la zona. Ven aquí a disfrutar de una lengua de costa entre la densa vegetación y el Océano Pacífico que no puede esperar a darte la bienvenida para un chapuzón.
                </p>
            </div>
            
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/maui.webp" class="rounded-lg" alt="imagen playa maui">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Maui
                </h3>
                <p class="p-4 md:text-lg">
                    Entre las playas más hermosas de Maui, cabe mencionar el Makena Beach State Park, Ka’anapali Beach, Baldwin Beach Park, Wai’anapanapa State Park, Honolua Bay, Palauea, Kapalua, Hamoa, Olowalu, Ho’okipa Beach Park, Oneuli, Kamaole, Charley Young Beach y La Perouse Bay. Cada una de ellas ofrece vistas espectaculares del Océano Pacífico, avistamientos de animales extraordinarios (incluidos los delfines) y muchas otras oportunidades para la relajación y el confort.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/mauna-kea.webp" class="rounded-lg" alt="imagen playa mauna-kea">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Mauna-Kea
                </h3>
                <p class="p-4 md:text-lg">
                    También conocida como playa Kauna'oa, Mauna Kea es la playa que da al hotel del mismo nombre y ofrece a los turistas una lengua de arena blanca considerada entre las más bellas de Hawái. Se puede decir con seguridad que Mauna Kea es una de las pocas playas aptas para toda la familia en Hawái, perfecta por su cómodo acceso a instalaciones equipadas, amplia playa y aguas tranquilas y cristalinas. Sólo en invierno las olas tienden a subir y es mejor prestar atención a las fuertes corrientes oceánicas que pueden golpear la zona.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/oahu.webp" class="rounded-lg" alt="imagen playa oahu">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Oahu
                </h3>
                <p class="p-4 md:text-lg">
                    Con más de 200 kilómetros de costa, O'ahu es una espectacular isla de Hawái rodeada de impresionantes playas bañadas por el Océano Pacífico. El paisaje está embellecido por una densa vegetación de selva tropical que casi toca el agua y ofrece un paisaje irresistible. Ven a O'ahu y disfruta de algunas de las playas más hermosas del mundo: Lanikai, Waikiki, Sunset Beach, Kailua Beach, Waimea Bay, Kahana Bay Beach Park, Malaekahana Beach, Sandy Beach, Pokai Beach, Ala Moana Beach Park, Makapuu Beach Park, Bellows Field Beach Park, Makaha Beach Park, Diamond Head Beach Park y Nanakuli Beach Park.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/spiaggia.webp" class="rounded-lg" alt="imagen playa Lanikai">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Lanikai
                </h3>
                <p class="p-4 md:text-lg">
                    La playa de Lanikai está situada en la espectacular isla de Oahu y está descrita por los periódicos y los turistas que la visitan como una de las playas más hermosas de la isla y del mundo. Rodeado por kilómetros interminables de prístino océano azul, es difícil mirar la playa de Lanikai sin sentir el deseo de ponerse el bañador, extender una toalla y tirarse de cabeza en el mar. Generosas palmeras dan refugio a esta hermosa playa donde puedes sentarte en uno de los paisajes de postal que siempre has soñado visitar en tu vida. El agua está a unos 24-26°C y es perfecta para largos baños bajo el sol.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/waikiki.webp" class="rounded-lg" alt="imagen playa waikiki">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Waikiki
                </h3>
                <p class="p-4 md:text-lg">
                    Los que quieren ir a Hawái saben que en la playa de Waikiki encontrarán todo lo que siempre han deseado. Aquí está en la costa sur de Honolulu (Oahu), donde se encuentra el barrio con este nombre, que una vez fue considerado el lugar de ocio favorito de la realeza hawaiana. Su nombre significa "aguas espumosas", y su fama se remonta a principios del siglo pasado. Específicamente en 1901, cuando fue fundado aquí el primer hotel: el Moana Surfrider. Ahora Waikiki se ha convertido en el centro del turismo mundial en las islas. Después de un día de playa, puedes ir a la Avenida Kalakaua, una de las calles más populares para ir de compras, asistir a diferentes espectáculos y comer en restaurantes de primera categoría.
                </p>
            </div>
    
            <div class="m-3 rounded-lg shadow-md">
                <div class="m-auto p-3">
                    <img src="../img/waimea.webp" class="rounded-lg" alt="imagen playa waimea">
                </div>
                <h3 class="text-center text-lg md:text-3xl">
                    Waimea
                </h3>
                <p class="p-4 md:text-lg">
                    Hay tanto que hacer en la Bahía de Waimea que una vez que pongas un pie allí no querrás volver a casa. Bienvenidos a la costa norte de Oahu, a una de las playas más famosas y queridas de Hawái. Has llegado aquí probablemente atraído por las grandes olas que se dice que dominan la zona: has venido al lugar correcto. Waimea es el punto de llegada de los surfistas que llegan a la isla en busca de las mejores olas. En los días en que hay viento, la bahía de Waimea está llena de tablas de surf y entusiastas de los deportes acuáticos. En el invierno en Waimea no se nada: solo surf. Con olas de hasta 12 metros de altura, se puede admirar a los surfistas explorando sus límites.
                </p>
            </div>
        </section>

            <!-- CUPON -->

    <div class="bg-cyan-600 mb-16 mt-16 md:h-60">
        <div class="grid grid-cols-2">
            <div class="">
                <h2 class="mt-2 text-3xl md:text-6xl text-white text-center titulo">
                    30% de Descuento
                </h2>
                <h2 class="text-center text-2xl">
                    En Ocio y Tours
                </h2>
                <img src="../img/qr cupon.png" class="w-28 drop m-auto p-2 md:p-0 md:mt-3" alt="imagen codigo QR">
            </div>
            <div class="md:m-5">
                <h2 class="text-2xl text-end mt-8 md:mt-24 p-2">
                    Obtene el descuento con el código <span class="text-white font-semibold">HAWAI23</span>
                </h2>
                <h2 class="text-end p-2 md:text-xl">
                    Tope máximo USD 100
                </h2>
            </div>
        </div>
    </div>

    </main>

        <!-- FOOTER -->

        <footer class="fondoFooter md:flex md:justify-between">
            <div class="md:ml-14 md:mt-5">
                <nav class="text-black text-2xl flex flex-col text-center gap-4 p-5">
                    <a href="../index.html" class="hover:text-lime-500">
                        Home
                    </a>
    
                    <a href="./hoteles.html" class="hover:text-lime-500">
                        Hoteles
                    </a>
    
                    <a href="./playas.html" class="hover:text-lime-500">
                        Playas
                    </a>
    
                    <a href="./ocio.html" class="hover:text-lime-500">
                        Ocio
                    </a>
    
                    <a href="./nosotros.html" class="hover:text-lime-500">
                        Nosotros
                    </a>
                </nav>
            </div>
            <div class="text-lg text-center text-white">
                <div class="md:mt-5 md:mr-14">
                    <div class="mb-6">
                        <h3 class="text-4xl md:text-5xl md:mb-2 md:justify-center">
                            Contacto
                        </h3>
                        <p>
                            <i class="fa-regular fa-envelope"></i> consultas@hawai.com
                        </p>
                    </div>
                    <div class="text-3xl mb-6 flex md:text-5xl justify-center gap-6">
                        <div>
                            <a href="https://es-la.facebook.com/" target="_blank">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://twitter.com/?lang=es" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="drop fa-brands fa-square-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-2xl m-auto">
                            Hawái - 2023
                        </h3>
                        <h3 class="text-2xl m-auto py-1">
                            ©Copiright
                        </h3>
                    </div>
                </div>
            </div>
        </footer>
        <div class="arriba-contenedor">
            <div class="boton-hacia-arriba">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
    <script src="../app.js"></script>
</body>
</html>